<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.jawaadianinc.rubixcubesolver">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        tools:ignore="LockedOrientationActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RubixCubeSolver">
        <activity
            android:name=".BackupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tutorial_Activity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.RubixCubeSolver.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="Cube Assistant"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RubixCubeSolver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CubeRenderer" />
        <activity
            android:name=".MenuPicker"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RubixCubeSolver"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RubixCubeSolver.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaptureCubeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>